* {
    box-sizing: border-box;
}

head {
    padding: 2em;
}

tytuł {
    display: flex;
    justify-content: center;
    margin: 1em 0;
    font-size: 42px;
}

tresc {
    display: flex;
    justify-content: space-around;
}

tresc {
    font-size: 24px;
}

test_narty {
    display: inline-block;

    border-radius: 5px;
    margin: 10px;
    padding: 2em;
    background-color: #7df9ff; 
    width: 450px;
    text-align: left;
    list-style-type: circle;
}

test_narty:hover {
    background-color: #FFFFFF;
}

marka {
    left: 5%;
    font-weight: bold;
    font-size: 130%;
    display: inline-block;
    margin-bottom: 1%;
    list-style-type: circle;
}

marka:before {
    font-size: 80%;
    content: "marka: ";
    font-weight: normal;
}

narta {
    right: 5%;
    font-weight: bold;
    font-size: 130%;
    display: block;
    margin-bottom: 6px;
    list-style-type: circle;
}

narta:before {
    font-size: 80%;
    content: "narta: ";
    font-weight: normal;
}
	

producenci {
    display: flex;
    justify-content: space-around;
    margin: 16px 0;
}

producent:not(:last-of-type) {
    margin-right: 4px;
}

punkty {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

punkty:before {
    content: "punktacja: ";
    font-weight: normal;
}

taliowanie {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}

taliowanie:before {
    content: "taliowanie:  ";
    font-weight: normal;
}
